
body.light {
  background: white !important;
  color: black !important;
}

body.black {
  background: black !important;
  color: white !important;
}
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
